<div class="col-xs-12 col-sm-8 col-md-8 col-lg-5 col-lg-offset-4">
<div class="card">
  
  <div class="row">
    <div class="col-xs-12 ">
      <div class="col-xs-6 ">


          <img class=" img-responsive fileinput-preview " src="" alt="Card image cap" style="height: 100px; width: 100px; border-radius:50%; margin-bottom:10px;">


        </div>
          <div class="col-xs-6">
            <div class="card-block">
                <p class="card-text">
                    Name:
                    <%= name %>
                        </br>
                        Position:
                        <%= position %>

                </p>
            </div>

          </div>


      </div>


    </div>


    <form method="POST" action="/contacts/:user_id">
      <hr>
      <div class="input-group">
        <input id="sender_id" type="hidden" class="form-control" name="sender_id" value="<%= sender_id %>" placeholder="">
        <input id="receiver_id" type="hidden" class="form-control" name="receiver_id" value="<%= receiver_id %>" placeholder="">
        <input id="rs_type" type="hidden" class="form-control" name="rs_type" value=1 placeholder="">
      </div>
      <div class="form-group">
        <div class="col-md-offset-6 col-md-9 col-xs-offset-2">
          <button id="btn-signup" type="disabled" class="btn btn-info"><i class="icon-hand-right"></i>Awaiting Response</button>
        </div>
    </form>
  </div>
</div>
</div>
