<div class="container">
<div class="row">
  <div class="col-xs-12 ">
<form method="POST" action="/search">

  <div class=" form-group" style="margin-top:0; padding-top:0;">
    <div style="margin-bottom: 25px" class="input-group">
        <input id="email" type="text" class="form-control" name="email" value="" placeholder="Enter User's email address">

  
            <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i>Search</button>

    </div>

  </div>
</form>
</div>
</div>
</div>
