<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head %>
</head>
<body>
  <header>
    <% include ../partials/header %>
  </header>
  <div class="container m-t-md">
    <div class="row">
      <div class="col-xs-12">
          <% include ../partials/search %>
      </div>
    </div>
    <!-- First row -->
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <% for (var i = 0; i < friends.length; i ++) { %>
          <% include ../partials/rs2Contact %>
        <% } %>
      </div>
    </div>
  </div>
</body>
</html>
