<!DOCTYPE html>
<html lang="en">
<body>
    <div class="container">
        <div class="row">
            <div class="jumbotron">
                <h1 class="text-center">/Whois</h1>
                <div class="container">
                    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <div class="panel panel-info text-center">
                            <div class="panel-heading">

                            <div style="padding-top:30px" class="panel-body">
                                <div style="display:none" id="signup-alert" class="alert alert-danger col-sm-12"></div>

                                <form action="/signup" method="POST" id="loginform" class="form-horizontal" role="form">



                                  <div class="col-lg-6 col-sm-6 col-12">
            <label class="btn btn-default btn-circle">
                Add a Photo <input type="file" style="display: none;">
            </label>
        </div>
                                    <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input id="displayname" type="text" class="form-control" name="displayName" value="" placeholder="Name on name card">
                                    </div>
                                    <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                                        <input id="contactnum" type="text" class="form-control" name="contactNum" value="" placeholder="Contact Number">
                                    </div>
                                    <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                        <input id="email" type="text" class="form-control" name="email" value="" placeholder="Email Address">
                                    </div>
                                    <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
                                        <input id="position" type="text" class="form-control" name="position" placeholder="Job Title">
                                    </div>
                                    <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input id="login-password" type="password" class="form-control" name="password" placeholder="Password">
                                    </div>

                                    <div class="form-group">
                                        <!-- Button -->
                                        <div class="col-md-offset-3 col-md-9">
                                            <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Sign Up</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
